IBM_API_KEY=YOUR_IBM_API_KEY
PROJECT_ID=YOUR_PROJECT_ID
MODEL_ID=meta-llama/llama-3-3-70b-instruct
WATSONX_URL=https://us-south.ml.cloud.ibm.com
SPACE_ID=YOUR_DEPLOYMENT_SPACE_ID
DEPLOYMENT_ID=YOUR_DEPLOYMENT_ID